{% extends 'main/base.html' %}

{% block content %}

<h2>🌌 Galaxies Database</h2>

<p style="opacity:0.7">
Structure of universe and known galaxies
</p>

<div class="grid">

    <div class="card">
        <h3>Milky Way</h3>
        <p>Our home galaxy containing Solar System.</p>
    </div>

    <div class="card">
        <h3>Andromeda</h3>
        <p>Nearest large galaxy to Milky Way.</p>
    </div>

    <div class="card">
        <h3>Sombrero Galaxy</h3>
        <p>Known for its bright nucleus and dust ring.</p>
    </div>

</div>

{% endblock %}