<!DOCTYPE html>
<html>
<head>
  <title>404 - Lost in Space</title>
  <style>
    body {
      margin: 0;
      background: radial-gradient(circle at center, #0b0f2a, #000);
      color: white;
      text-align: center;
      font-family: sans-serif;
      overflow: hidden;
    }

    .big {
      font-size: 120px;
      font-weight: bold;
      margin-top: 10vh;
    }

    .text {
      font-size: 24px;
      opacity: 0.8;
    }

    .astronaut {
      margin-top: 40px;
      width: 250px;
    }
  </style>
</head>

<body>
  <div class="big">404</div>
  <div class="text">You are lost in space</div>

  <img class="astronaut"
       src="https://cdn-icons-png.flaticon.com/512/3212/3212608.png">
</body>
</html>